@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);

    font-family:  Titillium;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --white: #fff;
    --dark: #000;
    --PrimaryColor: #D7D4FF; 
    --DarkerColor: #3a3583;
    --ParagraphColor:#555555;
    --ToggleColor: #3a3583;
    --ParagraphFont: Titillium;
    --TitleFont: Poppins;
    --BoxShadow: 1px 1px 10px rgba(0, 0, 0, 0.212);
    --LinearTransition: linear .3s all;
    --Transform: translateX(0px) scale(1.1);
}

[data-theme="dark"]{
    --white: #000;
    --dark: #fff;
    --PrimaryColor: #3a3583; 
    --ParagraphColor:#dad2d2;
    --ToggleColor: #D7D4FF;
    --BoxShadow: 2px 7px 13px #504e4e;
}

body {
    background-color: var(--white);
}

header {
    background-color: var(--PrimaryColor);
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.header-style {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin-top: 20px;   
}

.header-style__info {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 30px;
}

.header-style__info>h1 {
    font-size: 26px;
    color: var(--dark);
    line-height: 30px;
    font-family: var(--TitleFont);
    margin-top: 20px;
}
.header-style__info>p {
    font-size: 1rem;
    color: var(--ParagraphColor);
    line-height: 25px;
    font-family: var(--ParagraphFont);
}

.header-style__info>button {
    width: 120px;
    height: 50px;
    color: white;
    background-color: #6C63FF;
    border: none;
    border-radius: 8px;
    outline: none;
}

.header-style__info>button:hover {
    background-color: var(--ToggleColor);
    color: var(--white);
    transition: var(--LinearTransition);
    transform: var(--Transform);
}

.header-style__img {
    width: 400px;
    height: 250px;
}

.header-style__img>img {
    width: 100%;
    height: 100%;
}

main {
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    display: flex;
}

.cards-section {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    row-gap: 50px;
    column-gap: 73px;
}

.card-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 330px;
    box-shadow: var(--BoxShadow);
}

/* SELETOR de classes pra evitar repetição */
[class^="cor"] {
    width: 100%;
    height: 50%;
}

.cor1 {
    background-color: #FF6363;
}

.cor2 {
    background-color: #63ECFF;
}

.cor3 {
    background-color: #F363FF;
}

.cor4 {
    background-color: #63FF73;
}

.cor5 {
    background-color: #FFDD63;
}

.cor6 {
    background-color: #6C63FF;
}

.card-text {
    width: 100%;
    height: 50%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-text>span {
    font-size: 27px;
    font-family: var(--TitleFont);
}

.card-text>p {
    font-size: 14px;
    color: dark;
    text-align: justify;
    font-family: var(--ParagraphFont);
}

.navheader-style {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 50px;
    background-color: var(--white);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.212);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 9999;
}

.navbar-style {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 90%;
    height: 100vh;
    background-color: var(--white);
    /* PROPRIEDADES DA TRANSIÇÃO */
    transform: translateX(-100%);
    transition: all 0.30s ease;
    display: block;
    box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.194);
}

.active {
    transform: translateX(0);
}

.navbar-style.hidden {
    transform: translateX(-100%);
    transition: none;
}

.person-style.hidden {
    transform: translateX(100%);
    transition: none;
}

.navbar-style>ul {
    list-style-type: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

.navbar-style>ul>li>a {
    text-decoration: none;
    color: var(--dark);
    width: 160px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: var(--LinearTransition);
    text-align: center;
    border-radius: 9px;
}

.navbar-style>ul>li>a:hover {
    padding: 20px;
    color: var(--dark);
    border-radius: 9px;
    background-color: red;
}

.navbar-style>ul>li {
    height: 60px;
    width: 160px;
} 

.listicon {
    font-size: 30px;
    color: var(--dark);
    display: block;
    cursor: pointer;
    z-index: 99999;
}

.picon {
    font-size: 30px;
    color: var(--dark);
    display: block;
    cursor: pointer;
    z-index: 99999;
}

.person-style {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 90%;
    height: 100vh;
    background-color: var(--white);
    /* PROPRIEDADES DA TRANSIÇÃO */
    transform: translateX(100%);
    transition: all 0.30s ease;
    display: block;
    box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.194);
}

.person-style>ul>li>a {
    text-decoration: none;
    color: var(--dark);
    outline: none;
    width: 160px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: linear .4s all;
    text-align: center;
    border-radius: 9px;
}

.person-style>ul>li>a:hover {
    width: 100%;
    height: 100%;
    background-color: red;
    color: var(--dark);
    border-radius: 9px;
}

.person-style>ul {
    list-style-type: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

.person-style>ul>li {
    height: 60px;
    width: 160px;
} 

.open {
    transform: translateX(0);
}

/* LIGHT/DARK THEME */

.navheader-style>button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
}

.navheader-style>button:hover {
    cursor: pointer;
    outline: none;
    background-color: var(--ToggleColor);
    transition: linear .2s all;
    border: 2px solid var(--dark);
}

/* Max width pega do menor até o maior */
/* Min vai do valor máximo até o valor que eu especifiquei */

@media screen  and (max-width: 1440px) and (orientation: landscape) {

    .container-grid {
        max-width: 900px;
        margin: 0 auto;
    }

    .header-style {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header {
        height: 400px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
    }

    .header-style__info {
        width: 300px;
        height: 90%;
    }

    .card-body {
        width: 250px;
    }

    .listicon {
        display: none;
    }

    .navbar-style {
        display: none;
    }

    .navheader-style {
        display: none;
    }

    .person-style {
        display: none;
    }
}
    
